.filter-row {
    flex-wrap: wrap;
    margin-bottom: 0px;
}

.filter-row .form-group,
.filter-row .input-group {
    margin-right: 10px;
}

.filter-row .form-group:last-child {
    margin-right: 0;
}

.filter-row .input-daterange {
    width: 240px;
    height: 24px !important;
}

/* .filter-row .input-group .form-control:not(textarea) {
    
    height: calc(1em + 0.25rem + 2px);
} */

.input-group-extra-sm > .form-control,
.input-group-extra-sm > .custom-select {
  height: 24px; /* Adjust the height value according to your preferences */
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 0.9rem;
}

.input-group-extra-sm > .input-group-prepend > .input-group-text,
.input-group-extra-sm > .input-group-append > .input-group-text {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 0.9rem; /* Adjust the font size value according to your preferences */
}

.filter-row button {
    padding: 0px;
    margin-right: 5px;
}

.js-plotly-plot {
    margin-bottom: 40px;
}

.filter-row span.badge {
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    text-shadow: 1px 1px 3px black;
}

.filter-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: "max-height 0.5s ease-in-out";
}

.btn-delete {
    background-color: transparent;
    border: none;
}
.btn-delete .bi {
    color: red;
}
.btn-delete:hover .bi,
.btn-delete:focus .bi {
    color: darkred;
    text-decoration: none;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 0px 4px;
}

input .form-control {
    height: 24px !important;
}

.multi-select-group {
    min-width: 150px;
    max-width: 300px;
    /* display: inline-block; */
    /* display: flex;
    align-items: center; */
    margin-bottom: 0;
    white-space: nowrap;
}
