.filter-row {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    margin-bottom: 0px;
}

.filter-row .form-group,
.filter-row .input-group {
    margin-right: 10px;
}

.filter-row .form-group:last-child {
    margin-right: 0;
}

.filter-row .input-daterange {
    width: 240px;
    height: 24px !important;
}

.filter-row button {
    padding: 0px;
    margin-right: 10px;
}

.filter-container {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: "max-height 0.5s ease-in-out";
}

.btn-delete {
    background-color: transparent;
    border: none;
}
.btn-delete .bi {
    color: red;
}
.btn-delete:hover .bi,
.btn-delete:focus .bi {
    color: darkred;
    text-decoration: none;
}

.app-container {
    display: flex;
    flex-direction: column;
}

.btn {
    padding: 0px 4px;
}
