.filter-row {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    margin-bottom: 0px;
  }
  
  .filter-row .form-group,
  .filter-row .input-group {
    margin-right: 10px;
  }
  
  .filter-row .form-group:last-child {
    margin-right: 0;
  }
  
  .filter-row .input-daterange {
    width: 240px;
    height: 24px !important;
  }
  
  .filter-row button {
    padding: 0px;
    margin-right: 10px;
  }